/log
/temp
/nbproject
/app/model/SQLite
/app/config/config.local.neon
/app/config/config.php
/app/config/settings
/app/CheckoutModule/Config/config.local.neon
/app/templates/KonfiguratorApi
/www/obrazky/*.jpg
/www/obrazky_pujcovna/*.jpg
/www/obrazky_pujcovna_start/*.jpg
/www/js-production
/www/css-production
/tests/ESHOP/output
/node_modules
/npm-debug.log
/vendor
/.vscode
/app/config/vykon.config.local.neon
/app/config/calcconfigurator.php
/eshop5/nbproject/private/
